<?xml version="1.0" ?>
<launch>
  <arg name="pose_file" default="overhead_rob" />

  <include file="$(find excel_calibration)/launch/calib_server.launch" />

  <node pkg="excel_calibration" type="auto_calib_node" name="auto_calib_node" 
        output="screen">
    <rosparam command="load" 
              file="$(find excel_calibration)/joint_pose_data/$(arg pose_file)_poses.yaml" 
              param="joint_poses" />
    <param name="sim" value="false" />
  </node>
</launch>
