<?xml version="1.0" ?>
<launch>
  <arg name="job_file" default="" />
  <arg name="setup_file" default="kinx2_ovrhdx2_calib_setup.yaml" />
  <arg name="delete_job" default="false" />
  <arg name="load_job" default="false" />

  <!--
  <node pkg="tf" type="static_transform_publisher" name="kinect_front_depth_tf_pub" 
    args="-0.025 0.0 0.0 0.0 0.0 0.0 kinect_front_rgb_optical_frame kinect_front_depth_optical_frame 100" />
  <node pkg="tf" type="static_transform_publisher" name="kinect_back_depth_tf_pub" 
    args="-0.025 0.0 0.0 0.0 0.0 0.0 kinect_back_rgb_optical_frame kinect_back_depth_optical_frame 100" />
  -->

  <group ns="excel_calib_srv">
    <group if="$(arg delete_job)">
      <rosparam command="delete" param="calibration_job"/>
    </group>
    <group unless="$(arg delete_job)">
      <rosparam if="$(arg load_job)"
                command="load" 
                file="$(find excel_calibration)/calib_data/$(arg job_file)" 
                param="calibration_job" /> 
    </group>
  </group>


  <node pkg="extrinsic_calibration" type="ros_calibration_server" name="excel_calib_srv" 
        output="screen">
    <rosparam command="load" 
              file="$(find excel_calibration)/calib_data/$(arg setup_file)" 
              param="calibration_setup" />
  </node>
</launch>
