<?xml version="1.0" encoding="UTF-8"?>
<!--
  Author: Jimmy Da Silva
  Contributers: Kelsey Hawkins, Ajit Krisshna N L, Muhammad Asif Rana 

-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

   <property name="pi" value="3.14159265" />

   <xacro:macro name="cameras" params="prefix">

      <link name="${prefix}45_camera_link">
      </link>

      <joint name="${prefix}45_camera_joint" type="fixed">
         <parent link="${prefix}table_link" />
         <child link="${prefix}45_camera_link" />
         <origin rpy="3.1358844265653847 -0.04203340790110574 -0.013879785230443352" xyz="0.569 1.521 2.597" />
      </joint>

      <link name="${prefix}35_camera_link">
      </link>

      <joint name="${prefix}35_camera_joint" type="fixed">
         <parent link="${prefix}table_link" />
         <child link="${prefix}35_camera_link" />
         <origin rpy="3.107697904738654 -0.03808611429915326 -0.005354382539543283" xyz="1.625 0.149 2.643" />
      </joint>

      <link name="${prefix}kinect_front_link">
      </link>

      <joint name="${prefix}kinect_front_joint" type="fixed">
         <parent link="${prefix}table_link" />
         <child link="${prefix}kinect_front_link" />
         <origin rpy="-2.0911526920812413 0.018717144155139063 -1.4733313495598332" xyz="-1.096 1.559 2.344" />
      </joint>

      <link name="${prefix}kinect_back_link">
      </link>

      <joint name="${prefix}kinect_back_joint" type="fixed">
         <parent link="${prefix}table_link" />
         <child link="${prefix}kinect_back_link" />
         <origin rpy="-2.1746265277559695 0.01568256219680734 2.0515498028502073" xyz="3.848 3.690 2.314" />
      </joint>

      <link name="${prefix}gripper_camera_link">
      </link>

      <joint name="${prefix}gripper_camera_joint" type="fixed">
         <parent link="${prefix}ee_link" />
         <child link="${prefix}gripper_camera_link" />
         <origin rpy="0.0 0.0 0.0" xyz="0.1 0.1 0.1" />
      </joint>


   </xacro:macro>
</robot>
