<?xml version="1.0" encoding="UTF-8"?>
<!--
  Author: Jimmy Da Silva
  Contributers: Kelsey Hawkins, Ajit Krisshna N L, Muhammad Asif Rana 

-->
<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="excel">

   <!-- common stuff -->
   <xacro:include filename="$(find ur_description)/urdf/gazebo.urdf.xacro" />

   <!-- include ur10 -->
   <xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro" />

   <!-- include table&rail -->
   <xacro:include filename="$(find excel_description)/urdf/table_rail.urdf.xacro" />

   <!-- include gripper -->
   <xacro:include filename="$(find excel_description)/urdf/gripper.urdf.xacro" />

   <!-- include cameras -->
   <xacro:include filename="$(find excel_description)/urdf/cameras.urdf.xacro" />

   <!-- ur10 -->
  <xacro:ur10_robot prefix="" 
                    j1_lwr_lmt="${-2.0*pi}" j1_upr_lmt="${2.0*pi}" j1_vel_lmt="2.16" 
                    j2_lwr_lmt="${-pi}" j2_upr_lmt="${0.0}" j2_vel_lmt="2.16" 
                    j3_lwr_lmt="${0.0}" j3_upr_lmt="${pi}" j3_vel_lmt="3.15" 
                    j4_lwr_lmt="${-pi}" j4_upr_lmt="${0.0}" j4_vel_lmt="3.2" 
                    j5_lwr_lmt="${-110.0*pi/180.0}" j5_upr_lmt="${0.0}" j5_vel_lmt="3.2" 
                    j6_lwr_lmt="${-2.0*pi}" j6_upr_lmt="${2.0*pi}" j6_vel_lmt="3.2" 
  />

   <!-- table&rail -->
   <xacro:table_rail prefix="" />

   <!-- gripper -->
   <xacro:gripper prefix="" />

   <!-- cameras -->
   <xacro:cameras prefix="" />

</robot>
