<?xml version="1.0" encoding="UTF-8"?>
<!--
  Author: Jimmy Da Silva
  Contributers: Kelsey Hawkins, Ajit Krisshna N L, Muhammad Asif Rana 

-->
<robot xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" name="excel">

   <!-- common stuff -->
   <xacro:include filename="$(find ur_description)/urdf/gazebo.urdf.xacro" />

   <!-- include ur10 -->
   <xacro:include filename="$(find excel_description)/urdf/ur10.urdf.xacro" />

   <!-- include table&rail -->
   <xacro:include filename="$(find excel_description)/urdf/table_rail.urdf.xacro" />

   <!-- include gripper -->
   <xacro:include filename="$(find excel_description)/urdf/gripper.urdf.xacro" />

   <!-- include cameras -->
   <xacro:include filename="$(find excel_description)/urdf/cameras.urdf.xacro" />

   <!-- ur10 -->
  <xacro:ur10_robot prefix="" joint_limited="true"/>

   <!-- table&rail -->
   <xacro:table_rail prefix="" />

   <!-- gripper -->
   <xacro:gripper prefix="" />

   <!-- cameras -->
   <xacro:cameras prefix="" />

</robot>
