<?xml version="1.0" encoding="UTF-8"?>
<!--
  Courtesy of JHU: https://github.com/jhu-lcsr/robotiq
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
   <property name="pi" value="3.14159265" />
   <property name="scale" value="0.001 0.001 0.001" />

   <!-- Inertia parameters -->
   <property name="robotiq_85_adapter_mass" value="10.0" />
   <property name="robotiq_85_base_mass" value="10.0" />
   <property name="robotiq_85_knuckle_mass" value="10.0" />    
   <property name="robotiq_85_finger_mass" value="10.0" /> 
   <property name="robotiq_85_inner_knuckle_mass" value="10.0" />
   <property name="robotiq_85_finger_tip_mass" value="10.0" />

   <!-- Kinematic model -->

   <!-- Collision model -->

   <xacro:macro name="gripper" params="prefix">

      <joint name="${prefix}ee_fixed_joint_grip" type="fixed">
         <parent link="${prefix}wrist_3_link" />
         <child link="${prefix}robotiq_85_adapter_link" />
         <origin rpy="0.0 0.0 ${pi / 2.0}" xyz="0.0 0.0922 0.0" />
      </joint>

      <link name="${prefix}robotiq_85_adapter_link">
         <inertial>
            <mass value="${robotiq_85_adapter_mass}" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
         </inertial>
         <visual>
            <geometry>
               <mesh filename="package://excel_description/meshes/visual/robotiq_85_gripper_adapter_plate.dae" />
            </geometry>
            <origin rpy="${pi / 2.0} 0 ${pi / 2.0}" xyz="0 0 0" />
         </visual>
      </link>

      <joint name="${prefix}robotiq_85_base_joint" type="fixed">
         <parent link="${prefix}robotiq_85_adapter_link" />
         <child link="${prefix}robotiq_85_base_link" />
         <axis xyz="1 0 0" />
         <origin rpy="0 0 0" xyz=".0085 0 -.0041" />
      </joint>

      <link name="${prefix}robotiq_85_base_link">
         <inertial>
            <mass value="${robotiq_85_base_mass}" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
         </inertial>
         <visual>
            <geometry>
               <mesh filename="package://excel_description/meshes/visual/robotiq_85_gripper_base.dae" />
            </geometry>
            <origin rpy="${pi} 0 ${pi / 2.0}" xyz="0 0 0" />
         </visual>
         <collision>
            <geometry>
              <box size="0.03 0.16 0.055" />
            </geometry>
            <origin xyz="0.015 -0.01 0.005" rpy="0 0 0" />
         </collision>
         <collision>
            <geometry>
              <box size="0.045 0.05 0.038" />
            </geometry>
            <origin xyz="0.053 0.0 -0.01" rpy="0 0 0" />
         </collision>
      </link>

      <joint name="${prefix}robotiq_85_left_knuckle_joint" type="fixed">
         <parent link="${prefix}robotiq_85_base_link" />
         <child link="${prefix}robotiq_85_left_knuckle_link" />
         <axis xyz="1 0 0" />
         <origin rpy="${-pi / 2.0} ${pi / 2.0} 0" xyz=".04191 .0306 0" />
         <limit lower="0" upper="${pi / 4.0}" velocity="2.0" effort="1000" />
      </joint>

      <link name="${prefix}robotiq_85_left_knuckle_link">
         <inertial>
            <mass value="${robotiq_85_knuckle_mass}" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
         </inertial>
         <visual>
            <geometry>
               <mesh filename="package://excel_description/meshes/visual/robotiq_85_gripper_joint_0_L.dae" />
            </geometry>
            <origin rpy="${pi} ${-pi / 2.0} 0" xyz="0 .04191 -.0306" />
         </visual>
      </link>

      <joint name="${prefix}robotiq_85_right_knuckle_joint" type="fixed">
         <parent link="${prefix}robotiq_85_base_link" />
         <child link="${prefix}robotiq_85_right_knuckle_link" />
         <axis xyz="1 0 0" />
         <origin rpy="${pi / 2.0} ${-pi / 2.0} 0" xyz=".04191 -.0306 0" />
         <limit lower="0" upper="${pi / 2.0}" velocity="2.0" effort="1000" />
         <mimic joint="robotiq_85_left_knuckle_joint" multiplier="1" />
      </joint>

      <link name="${prefix}robotiq_85_right_knuckle_link">
         <inertial>
            <mass value="${robotiq_85_knuckle_mass}" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
         </inertial>
         <visual>
            <geometry>
               <mesh filename="package://excel_description/meshes/visual/robotiq_85_gripper_joint_0_R.dae" />
            </geometry>
            <origin rpy="${pi} ${pi / 2.0} 0" xyz="0 .04191 -.0306" />
         </visual>
      </link>

      <joint name="${prefix}robotiq_85_left_finger_joint" type="fixed">
         <parent link="${prefix}robotiq_85_left_knuckle_link" />
         <child link="${prefix}robotiq_85_left_finger_link" />
         <axis xyz="1 0 0" />
         <origin rpy="${pi} 0 0" xyz="0 .00508 .03134" />
         <limit lower="0" upper="${pi / 2.0}" velocity="2.0" effort="1000" />
      </joint>

      <link name="${prefix}robotiq_85_left_finger_link">
         <inertial>
            <mass value="${robotiq_85_finger_mass}" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
         </inertial>
         <visual>
            <geometry>
               <mesh filename="package://excel_description/meshes/visual/robotiq_85_gripper_joint_1_L.dae" />
            </geometry>
            <origin rpy="0 ${pi/2.0} 0" xyz="0 -.03683 .06194" />
         </visual>
      </link>

      <joint name="${prefix}robotiq_85_right_finger_joint" type="fixed">
         <parent link="${prefix}robotiq_85_right_knuckle_link" />
         <child link="${prefix}robotiq_85_right_finger_link" />
         <axis xyz="1 0 0" />
         <origin rpy="${pi} 0 0" xyz="0 .00508 .03134" />
         <limit lower="0" upper="${pi/2.0}" velocity="2.0" effort="1000" />
      </joint>

      <link name="${prefix}robotiq_85_right_finger_link">
         <inertial>
            <mass value="${robotiq_85_finger_mass}" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
         </inertial>
         <visual>
            <geometry>
               <mesh filename="package://excel_description/meshes/visual/robotiq_85_gripper_joint_1_R.dae" />
            </geometry>
            <origin rpy="0 ${-pi/2.0} 0" xyz="0 -.03683 .06194" />
         </visual>
      </link>

      <joint name="${prefix}robotiq_85_left_inner_knuckle_joint" type="fixed">
         <parent link="${prefix}robotiq_85_base_link" />
         <child link="${prefix}robotiq_85_left_inner_knuckle_link" />
         <axis xyz="1 0 0" />
         <origin rpy="${pi/2.0} ${pi/2.0} 0" xyz=".04843 .0127 0" />
         <limit lower="0" upper="${pi/2.0}" velocity="2.0" effort="1000" />
         <mimic joint="robotiq_85_left_knuckle_joint" offset="0" />
      </joint>

      <link name="${prefix}robotiq_85_left_inner_knuckle_link">
         <inertial>
            <mass value="${robotiq_85_inner_knuckle_mass}" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
         </inertial>
         <visual>
            <geometry>
               <mesh filename="package://excel_description/meshes/visual/robotiq_85_gripper_joint_2_L.dae" />
            </geometry>
            <origin rpy="0 ${pi/2.0} 0" xyz="0 -.04843 .0127" />
         </visual>
      </link>

      <joint name="${prefix}robotiq_85_right_inner_knuckle_joint" type="fixed">
         <parent link="${prefix}robotiq_85_base_link" />
         <child link="${prefix}robotiq_85_right_inner_knuckle_link" />
         <axis xyz="1 0 0" />
         <origin rpy="${-pi/2.0} ${-pi/2.0} 0" xyz=".04843 -.0127 0" />
         <limit lower="0" upper="${pi/2.0}" velocity="2.0" effort="1000" />
         <mimic joint="robotiq_85_left_knuckle_joint" offset="0" />
      </joint>

      <link name="${prefix}robotiq_85_right_inner_knuckle_link">
         <inertial>
            <mass value="${robotiq_85_inner_knuckle_mass}" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
         </inertial>
         <visual>
            <geometry>
               <mesh filename="package://excel_description/meshes/visual/robotiq_85_gripper_joint_2_R.dae" />
            </geometry>
            <origin rpy="0 ${-pi/2.0} 0" xyz="0 -.04843 .0127" />
         </visual>
      </link>

      <joint name="${prefix}robotiq_85_left_finger_tip_joint" type="fixed">
         <parent link="${prefix}robotiq_85_left_inner_knuckle_link" />
         <child link="${prefix}robotiq_85_left_finger_tip_link" />
         <axis xyz="1 0 0" />
         <origin rpy="0 0 0" xyz="0 .04196 -.0388" />
         <limit lower="0" upper="${pi/2.0}" velocity="2.0" effort="1000" />
         <mimic joint="robotiq_85_left_knuckle_joint" multiplier="-1" />
      </joint>

      <link name="${prefix}robotiq_85_left_finger_tip_link">
         <inertial>
            <mass value="${robotiq_85_finger_tip_mass}" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
         </inertial>
         <visual>
            <geometry>
               <mesh filename="package://excel_description/meshes/visual/robotiq_85_gripper_joint_3_L.dae" />
            </geometry>
            <origin rpy="0 ${pi/2.0} 0" xyz="0 -.090381 .051505" />
         </visual>
         <collision>
            <geometry>
              <box size="0.038 0.12 0.035" />
            </geometry>
            <origin xyz="0.01 0.00 0" rpy="0 0 0" />
         </collision>
      </link>

      <joint name="${prefix}robotiq_85_right_finger_tip_joint" type="fixed">
         <parent link="${prefix}robotiq_85_right_inner_knuckle_link" />
         <child link="${prefix}robotiq_85_right_finger_tip_link" />
         <axis xyz="1 0 0" />
         <origin rpy="0 0 0" xyz="0 .04196 -.0388" />
         <limit lower="0" upper="${pi/2.0}" velocity="2.0" effort="1000" />
         <mimic joint="robotiq_85_left_knuckle_joint" multiplier="-1" />
      </joint>

      <link name="${prefix}robotiq_85_right_finger_tip_link">
         <inertial>
            <mass value="${robotiq_85_finger_tip_mass}" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
         </inertial>
         <visual>
            <geometry>
               <mesh filename="package://excel_description/meshes/visual/robotiq_85_gripper_joint_3_R.dae" />
            </geometry>
            <origin rpy="0 ${-pi/2.0} 0" xyz="0 -.090381 .051505" />
         </visual>
         <collision>
            <geometry>
              <box size="0.038 0.12 0.035" />
            </geometry>
            <origin xyz="-0.01 0.00 0" rpy="0 0 0" />
         </collision>
      </link>

   </xacro:macro>
</robot>
