<?xml version="1.0" encoding="UTF-8"?>
<!--
  Author: Jimmy Da Silva
  Contributers: Kelsey Hawkins, Ajit Krisshna N L, Muhammad Asif Rana 

-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

   <xacro:macro name="table_rail_transmission" params="prefix">

      <transmission name="rail_base_trans" type="pr2_mechanism_model/SimpleTransmission">
         <actuator name="rail_base_motor" />
         <joint name="${prefix}rail_base_joint" />
         <mechanicalReduction>1</mechanicalReduction>
      </transmission>

   </xacro:macro>

</robot>
