
<launch>
  <node name="kinect_back_rgb_calib_tf" pkg="tf" type="static_transform_publisher"
    args="4.376038 2.326519 2.335636 0.624212 0.588097 -0.382961 -0.339625 /table_link /kinect_back_rgb_calib 100"/>
  <node name="kinect_back_rgb_optical_frame_tf" pkg="tf" type="static_transform_publisher"
    args="0 0 0.0 0 0 0 /kinect_back_rgb_calib /kinect_back_rgb_optical_frame 100"/>
</launch>

