<launch>
	<node name="camera_transform" pkg="excel_cameras" type="excel_camera_transform_node" respawn="false" output="screen"/>

	<arg name="marker_size" default="14.5" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/35_camera/image_color" />
    	<arg name="cam_info_topic" default="/35_camera/camera_info" />	
	<arg name="output_frame" default="/table_link" />
	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />
	

	<arg name="marker_size2" default="14.5" />
	<arg name="max_new_marker_error2" default="0.08" />
	<arg name="max_track_error2" default="0.2" />
	<arg name="cam_image_topic2" default="/45_camera/image_color" />
    	<arg name="cam_info_topic2" default="/45_camera/camera_info" />	
	<arg name="output_frame2" default="/table_link" />
	<node name="ar_track_alvar2" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size2) $(arg max_new_marker_error2) $(arg max_track_error2) $(arg cam_image_topic2) $(arg cam_info_topic2) $(arg output_frame2)" />



</launch>
