<launch>
  <arg name="camera_serial" default="14180963" />

  <group ns="overhead_rob_ws_cam">
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" />

    <node pkg="nodelet" type="nodelet" name="camera_nodelet"
          args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager" >
      <param name="frame_id" value="overhead_rob_ws_frame" />
      <param name="serial" value="$(arg camera_serial)" />
      <param name="desired_freq" value="15.0" />
      
      <param name="camera_info_url"
             value="file://$(find excel_cameras)/calibration_files/overhead_rob_ws.yaml" />
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
          args="load image_proc/debayer camera_nodelet_manager">
    </node>
  </group>
</launch>
