<launch>
  <arg name="camera_serial" default="14180964" />

  <include file="$(find excel_calibration)/launch/overhead_hum_ws_calibration_tf.launch"/>

  <group ns="overhead_hum_ws_cam">
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" />

    <node pkg="nodelet" type="nodelet" name="camera_nodelet"
          args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager" >
      <param name="frame_id" value="overhead_hum_ws_frame" />
      <param name="serial" value="$(arg camera_serial)" />
      <param name="desired_freq" value="15.0" />
      
      <param name="camera_info_url"
             value="file://$(find excel_cameras)/calibration_files/overhead_hum_ws.yaml" />
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
          args="load image_proc/debayer camera_nodelet_manager">
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_decimate"
          args="load image_proc/crop_decimate camera_nodelet_manager">
      <remap from="camera/image_raw" to="/overhead_hum_ws_cam/image_raw" />
      <remap from="camera/camera_info" to="/overhead_hum_ws_cam/camera_info" />
      <remap from="camera_out/image_raw" to="/overhead_hum_ws_cam/cropped/image_raw" />
      <remap from="camera_out/camera_info" to="/overhead_hum_ws_cam/cropped/camera_info" />
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_rectify"
          args="load image_proc/rectify camera_nodelet_manager">
      <remap from="image_mono" to="/overhead_hum_ws_cam/image_mono" />
      <remap from="image_rect" to="/overhead_hum_ws_cam/image_rect" />
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_color_rectify"
          args="load image_proc/rectify camera_nodelet_manager">
      <remap from="image_mono" to="/overhead_hum_ws_cam/image_color" />
      <remap from="image_rect" to="/overhead_hum_ws_cam/image_rect_color" />
    </node>
  </group>
</launch>
