<launch>
  <arg name="camera_serial" default="14011609" />

  <!--<include file="$(find excel_calibration)/launch/overhead_hum_ws_calibration_tf.launch"/>-->

  <group ns="scan_barcode_cam">
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" />

    <node pkg="nodelet" type="nodelet" name="camera_nodelet"
          args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager" >
      <param name="frame_id" value="overhead_hum_ws_frame" />
      <param name="serial" value="$(arg camera_serial)" />
      <param name="desired_freq" value="15.0" />
      
      <!-- <param name="camera_info_url" -->
      <!--        value="file://$(find excel_cameras)/calibration_files/overhead_hum_ws.yaml" /> -->
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
          args="load image_proc/debayer camera_nodelet_manager">
    </node>

    <!-- <node pkg="nodelet" type="nodelet" name="image_proc_rectify" -->
    <!--       args="load image_proc/rectify camera_nodelet_manager"> -->
    <!--   <remap from="image_mono" to="/scan_barcode_cam/image_mono" /> -->
    <!--   <remap from="image_rect" to="/scan_barcode_cam/image_rect" /> -->
    <!-- </node> -->

    <node pkg="nodelet" type="nodelet" name="image_proc_color_rectify"
          args="load image_proc/rectify camera_nodelet_manager">
      <remap from="image_mono" to="/scan_barcode_cam/image_color" />
      <remap from="image_rect" to="/scan_barcode_cam/image_rect_color" />
    </node>
  </group>
</launch>
