<launch>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find excel_description)/urdf/excel_robot.urdf.xacro'" />

  <rosparam>
    joint_state_pub:
      type: joint_state_controller/JointStateController
      publish_rate: 100

    vel_trajectory_ctrl:
      type: velocity_controllers/JointTrajectoryController
      mode: vel

  </rosparam>

  <rosparam command="load" file="$(find excel_hw_iface)/launch/joint_names.yaml"
            param="vel_trajectory_ctrl/joints" />
  <rosparam command="load" file="$(find excel_hw_iface)/launch/joint_gains.yaml"
            param="vel_trajectory_ctrl/gains" />
  <rosparam command="load" file="$(find excel_hw_iface)/launch/trajectory_ctrl_constraints.yaml"
            param="vel_trajectory_ctrl" />

  <node name="excel_spawn_ctrls" type="spawner" pkg="controller_manager"
        output="screen" args="joint_state_pub vel_trajectory_ctrl" />

</launch>
