<launch>
  <arg name="robot_ip" />
  <arg name="is_test" default="false" />

  <include file="$(find excel_hw_iface)/launch/load_excel_ctrl.launch" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="excel_load_ctrls" type="spawner" pkg="controller_manager"
        output="screen" args="--stopped vel_trajectory_ctrl pva_enable_mode vel_forward_ctrl" />

  <node name="excel_spawn_ctrls" type="spawner" pkg="controller_manager"
        output="screen" args="joint_state_pub mode_state_pub ur_diagnostics_pub config_fwd_ctrl vel_enable_mode vel_jogging_ctrl" />

  <node pkg="diagnostic_aggregator" type="aggregator_node"
      name="diag_agg" >
      <rosparam> 
          pub_rate: 1.0
          analyzers:
              arm:
                  type: AnalyzerGroup
                  path: UR Arm
                  analyzers:
                      controller:
                          type: GenericAnalyzer
                          path: Controller
                          contains: UR arm controller
                      joints:
                          type: GenericAnalyzer
                          path: Joints
                          contains: UR arm joint
      </rosparam> 
  </node>

  <group unless="$(arg is_test)">
    <node pkg="excel_hw_iface" type="excel_ctrl_man_xeno" name="excel_ctrl_man_xeno"
          output="screen">
      <rosparam command="load" file="$(find excel_hw_iface)/launch/joint_names.yaml"
                param="joint_names" />
      <param name="robot_ip" value="$(arg robot_ip)" />
      <param name="scale_pos_fb" value="0.0000001"/>
      <param name="scale_vel_fb" value="0.000001"/>
      <param name="scale_vel_cmd" value="1000000.0"/>
    </node>

    <node name="estop_monitor" pkg="excel_hw_iface" type="estop_monitor.py" respawn="true" />
  </group>
  <group if="$(arg is_test)">
    <node pkg="excel_hw_iface" type="test_excel_ctrl_man" name="test_excel_ctrl_man"
          output="screen">
      <rosparam command="load" file="$(find excel_hw_iface)/launch/joint_names.yaml"
                param="joint_names" />
      <param name="robot_ip" value="$(arg robot_ip)" />
      <param name="init_pos" value="0.5" />
    </node>
  </group>

</launch>
